body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(gambar1.jpg);
    color: #333;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.about-container {
    border-radius: 10px;
    background-color: rgba(97, 160, 255, 0.233);
    border: 3px solid;
    color: rgb(97, 160, 255);
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.about-img {
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.about-text p{
    color: #fff;
    display: flex;
    justify-content: center;
}

.about-text h2 {
    margin-top: 0;
    color: #fff;
}

nav a:hover {
          background-color: rgb(0, 16, 163);
        }

        nav ul {
            list-style: none;
            background-color: rgba(0, 5, 46, 0.479);
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0px;
        }

        nav a{
            color: rgb(0, 176, 240);
            text-decoration: none;
            padding: 15px;
            display: block;
            text-align: center;
            
        }


/* Responsive */
@media (max-width: 700px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        width: 100%;
    }
}
