body {
    margin: 0;
    padding: 0;
    background: url(wallhaven-w5qdw7_1920x1080.png);
    background-position: center;
}

.frame{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar ul {
    backdrop-filter: blur(10px);
    border: 3px solid;
    border-radius: 10px;
  width: 90%;
  height: 90%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent /* Example background color */
}

.navbar li wa{
  padding: 0;
  margin: 0;
  width: auto;
  height:auto;
  color: rgb(0, 255, 0);
}

.navbar a {
  text-decoration: none;
  color: #333;
}



        nav ul {
            list-style: none;
            background-color: rgba(0, 5, 46, 0.479);
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0px;
        }

        nav a{
            color: rgb(0, 176, 240);
            text-decoration: none;
            padding: 15px;
            display: block;
            text-align: center;
            
        }